/* Colors from https://github.com/carbon-design-system/carbon/blob/v10/packages/colors/src/colors.js */
:root {
    --white: #ffffff;
    --whiteHover: #e8e8e8;
    --coolGray10: #f2f4f8;
    --coolGray20: #dde1e6;
    --coolGray30: #c1c7cd;
    --coolGray40: #a2a9b0;
    --coolGray50: #878d96;
    --coolGray10Hover: #e4e9f1;
    --coolGray20Hover: #cdd3da;
    --coolGray30Hover: #adb5bd;
    --coolGray40Hover: #9199a1;
    --gray10: #f4f4f4;
    --gray20: #e0e0e0;
    --gray30: #c6c6c6;
    --gray40: #a8a8a8;
    --gray50: #8d8d8d;
    --gray10Hover: #e8e8e8;
    --gray20Hover: #d1d1d1;
    --gray30Hover: #b5b5b5;
    --gray40Hover: #999999;
    --warmGray10: #f7f3f2;
    --warmGray20: #e5e0df;
    --warmGray30: #cac5c4;
    --warmGray40: #ada8a8;
    --warmGray50: #8f8b8b;
    --warmGray10Hover: #f0e8e6;
    --warmGray20Hover: #d8d0cf;
    --warmGray30Hover: #b9b3b1;
    --warmGray40Hover: #9c9696;
    --blue10: #edf5ff;
    --blue20: #d0e2ff;
    --blue30: #a6c8ff;
    --blue40: #78a9ff;
    --blue50: #4589ff;
    --blue10Hover: #dbebff;
    --blue20Hover: #b8d3ff;
    --blue30Hover: #8ab6ff;
    --blue40Hover: #5c97ff;
    --cyan10: #e5f6ff;
    --cyan20: #bae6ff;
    --cyan30: #82cfff;
    --cyan40: #33b1ff;
    --cyan50: #1192e8;
    --cyan10Hover: #cceeff;
    --cyan20Hover: #99daff;
    --cyan30Hover: #57beff;
    --cyan40Hover: #059fff;
    --green10: #defbe6;
    --green20: #a7f0ba;
    --green30: #6fdc8c;
    --green40: #42be65;
    --green50: #24a148;
    --green10Hover: #b6f6c8;
    --green20Hover: #74e792;
    --green30Hover: #36ce5e;
    --green40Hover: #3bab5a;
    --magenta10: #fff0f7;
    --magenta20: #ffd6e8;
    --magenta30: #ffafd2;
    --magenta40: #ff7eb6;
    --magenta50: #ee5396;
    --magenta10Hover: #ffe0ef;
    --magenta20Hover: #ffbdda;
    --magenta30Hover: #ff94c3;
    --magenta40Hover: #ff57a0;
    --orange10: #fff2e8;
    --orange20: #ffd9be;
    --orange30: #ffb784;
    --orange40: #ff832b;
    --orange50: #eb6200;
    --orange10Hover: #ffe2cc;
    --orange20Hover: #ffc69e;
    --orange30Hover: #ff9d57;
    --orange40Hover: #fa6800;
    --purple10: #f6f2ff;
    --purple20: #e8daff;
    --purple30: #d4bbff;
    --purple40: #be95ff;
    --purple50: #a56eff;
    --purple10Hover: #ede5ff;
    --purple20Hover: #dcc7ff;
    --purple30Hover: #c5a3ff;
    --purple40Hover: #ae7aff;
    --red10: #fff1f1;
    --red20: #ffd7d9;
    --red30: #ffb3b8;
    --red40: #ff8389;
    --red50: #fa4d56;
    --red10Hover: #ffe0e0;
    --red20Hover: #ffc2c5;
    --red30Hover: #ff99a0;
    --red40Hover: #ff6168;
    --teal10: #d9fbfb;
    --teal20: #9ef0f0;
    --teal30: #3ddbd9;
    --teal40: #08bdba;
    --teal50: #009d9a;
    --teal10Hover: #acf6f6;
    --teal20Hover: #57e5e5;
    --teal30Hover: #25cac8;
    --teal40Hover: #07aba9;
    --yellow10: #fcf4d6;
    --yellow20: #fddc69;
    --yellow30: #f1c21b;
    --yellow40: #d2a106;
    --yellow50: #b28600;
    --yellow10Hover: #f8e6a0;
    --yellow20Hover: #fccd27;
    --yellow30Hover: #ddb00e;
    --yellow40Hover: #bc9005;
}
